html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(237, 237, 237);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

/* ============================================
ROOT 
============================================*/
.loginReg {
  width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(../images/background.jpeg);
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: bold;
}

.loginReg input {
  border-radius: 5px;
  margin: 5px 0;
}

.loginReg form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ============================================
HEADER
============================================*/
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

nav {
  list-style-type: none;
  display: flex;
  width: 40%;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav li:hover {
  transform: scale(1.2);
  transition: transform 0.25s;
  opacity: 0.5;
}

.button {
  margin: 0;
}

.button:hover {
  cursor: pointer;
  color: blue;
}

.button:active {
  transform: scale(1.1);
  transition: transform 0.1s;
}

/* ============================================
SUMMARY SECTION
============================================*/
.summary {
  width: 100%;
  min-height: 300px;
  background-image: url(../images/background.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.balanceHeader {
  text-align: center;
}

.total-balance {
  font-size: 50px;
  color: white;
}

.income-total,
.expenses-total {
  display: flex;
  width: 60%;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 20px;
}

.income-total {
  background-color: aquamarine;
  /* padding-right: 15%; */
}

.expenses-total {
  background-color: rgb(244, 75, 75);
}

.numbers,
.percentage {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

/* ============================================
FORM
============================================*/

.inputs {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  padding: 10px 0;
  background-color: #f5f5f5;
}

.inputs form {
  width: 100%;
  height: 100%;
  display: inherit;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* ============================================
BALANCE SHEET
============================================*/

.balance-sheet {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px 0;
}

.income,
.expenses {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.income h3 {
  max-width: 100%;
  color: rgb(99, 235, 190);
  text-align: center;
}

.expenses h3 {
  color: rgb(244, 75, 75);
}

.added {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding: 0 5px;
  margin: 10px 0;
  background-color: #f5f5f5;
}

/* ===================================
FOOTER
======================================*/

footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-end;
  bottom: 0;
}

footer p {
  width: 100%;
  text-align: center;
}

.contact {
  display: inherit;
  margin: 0;
  list-style-type: none;
  width: 100%;
  justify-content: space-evenly;
  padding: 0;
}

footer i {
  color: black;
  font-size: 24px;
}

footer i:hover {
  transform: scale(2);
  transition: transform 0.25s;
  /* padding-bottom:10px; */
}

@media screen and (min-width: 700px) {
  .income,
  .expenses {
    width: 45%;
  }
}
