html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4{
    margin: 0;
}

/* ============================================
HEADER
============================================*/
header{
    display:flex;
    justify-content: space-between;
    padding: 10px;
}

.button{
    margin: 0;
}

.button:hover{
    cursor: pointer;
    color: blue ;
}

.button:active{
    transform: scale(1.1);
    transition: transform 0.1s;
}



/* ============================================
SUMMARY SECTION
============================================*/
.summary{
    width: 100%;
    min-height: 300px;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.total-balance{
    font-size: 50px;
}

.income-total, .expenses-total{
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding: 0 10px;
}

.income-total{
    background-color: aquamarine;
    padding-right: 15%;
}

.expenses-total{
    background-color: rgb(244, 75, 75);
}

.numbers, .percentage{
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/* ============================================
FORM
============================================*/

.inputs{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #f5f5f5 
}

/* ============================================
BALANCE SHEET
============================================*/

.balance-sheet{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px 0;
}

.income, .expense{
    width: 30%;
    display: flex;
    width: 200px;
    flex-direction: column;
}

.income h3{
    max-width: 100%;
    color: rgb(99, 235, 190);
}

.expenses h3{
    color: rgb(244, 75, 75);
}

.added{
    display: flex;
    width: 200px;
    justify-content: space-between;
    padding: 0 5px;
    margin: 10px 0;
    background-color: #f5f5f5;
}

/* ===================================
FOOTER
======================================*/

footer{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
}

footer p{
    width: 100%;
    text-align: center;
}

.contact{
    display: inherit;
    margin: 0;
    list-style-type: none;
    width: 100%;
    justify-content: space-evenly;
    padding:0;

}


footer i{
    color: black;
    font-size: 24px;
}

footer i:hover{
    transform: scale(2);
    transition: transform 0.25s;
    /* padding-bottom:10px; */
}